.adminNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 247, 174); 
    color: crimson; 
    padding: 10px 35px;
  }
  
  .logo h1 {
    margin: 0; 
    font-size: 30px; 
    font-weight: bold;
    font-family: 'Arial', sans-serif; 
  }

  .dropdown-container {
    display: flex;
  }
  
  .dropdown-item {
    margin-right: 10px; 
  }