.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(145deg, #ff073a, #6610f2, #007bff);
 }
  
  .landingPage a {
    text-decoration: none;
    color: white;
    font-family: cursive;
    margin: 30px 40px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .landingPage a:hover {
    transform: translateY(-5px);
  }
  
  .landingPage img {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .landingPage img:hover {
    transform: scale(1.2);
  }
  
  .landingPage h2 {
    margin-top: 35px;
    font-size: 1.5rem;
  }
  
